@import "@assets/scss/variables.scss";

h1 {
    color: $white;
}

.flex {
    display: flex;
    flex-direction: row;

    .landstede-rose {
        height: 100px;
        width: 100px;
        background: $landstede-rose;
    }

    .orange {
        height: 100px;
        width: 100px;
        background: $orange;
    }
}
