.input {
    background: rgba(237, 19, 93, 0.12);
        border: 4px solid $landstede-rose;
        // border: 4px dashed $landstede-rose;
    border-radius: 1080px;
    color: $landstede-rose;
    padding: 12px 25px;
    display: flex;
    text-align: center;
    
    font-family: "Voyager";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    &::placeholder {
        font-family: "Voyager";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: rgba(237, 19, 93, 0.44);
    }
    &:focus-visible {
        outline: -webkit-focus-ring-color auto 0px;
    }
}
